.mainfooter {
    width:100%;
    margin-top: 90px;
}

.footertext {
    font-size: 16px;
    margin-left: 106px;
    padding-top: 24px;
}

.footer{
    width: 100%;
    height: 100px;
}

.maindisplay {
    display: inline-block;
}
.inpt {
    height: 42px;
    font-size: 17px;
    padding-left: 12px;
}

.subscribe {
    display: inline-block;
    margin-left: 25px;
    position: relative;
    bottom: 8px;
}

.mainimage {
    background-image: url(images/subscribe2.png);
    width: 167px;
    height: 38px;
    display: block;
}

.mainimage:hover {
    background-image: url(images/subscribe.png);
}

.footeraboutus {
    width: 100%;
    height: 50px;
    display: table;
}

.footeradress {
    font-size: 16px;
    display: inline-block
}

.displayminimenu {
    display: inline-block;
}

.footermenu {
    padding-top: 23px;
    margin-left: 120px;
}

.yearofwork {
    font-size: 12px;
    margin-left: 124px;
    display: inline-block;
}

.aboutus {
    font-size: 12px;
    width: 100%;
  padding-right:10px;
    text-align: right;
    display: inline-block;

}

.ourcompany {
    font-size: 12px;
    display: inline-block;
    text-decoration: underline;
}

.footerphone {
    display: inline-block;
    font-size: 16px;
}

.display {
    display: inline-block;
    margin-left: 55px;
}

.footersocialnetworks {
    margin-left: 65px;
    display: inline-block;
    font-size: 16px;
}

.socialnetworks {
    display: inline-block;

}

.facebok{
    width: 17px;
    height: 17px;
    margin-left: 4px;
    fill: red($color: #000000);
}
.google {
    background-image: url(images/google.png);
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-left: 1px;
}

.google:hover {
    background-image: url(images/google1.png);
}

.twiiter {
    background-image: url(images/twitter.png);
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-left: 1px;
}

.twiiter:hover {
    background-image: url(images/twitter1.png);
}

.youtube {
    background-image: url(images/youtube.png);
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-left: 1px;
}

.youtube:hover {
    background-image: url(images/youtube1.png);
}

.buyax:hover {
    background-image: url(images/buy4.png);
}
.text{
	height:60px;  
}
